<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soporte</title>
    <link rel="stylesheet" href="/css/Form1.css">
    <script src="../js/alertas.js" defer ></script>
</head>
<body>
   



    
    <!-- <h1>soporte</h1> -->
    <div class="contenedor-toast" id="contenedor-toast">
				
    </div>
    <div id='base'  >
        <div id='panelModal'>
            
            <div class='icon'>
                <img style='height:35%;width:35%;' src="/img/logo_app_rx.png" alt="">
            </div>

            <div style='display:flex;justify-content:center;align-items:center;padding-top:10px'>
                <b><p style='font-size:20px;color:green'>Correo Enviado!</p></b>
            </div>

            <!-- <div style='display:flex;justify-content:center;align-items:center;padding-top:20px'>
                <p id='spanCorreo' style='color:#05304d;font-size:20px'>correo@gmail.com</p>
            </div> -->

            <!-- <br> -->
            <div style='display:flex;justify-content:center;align-items:center;padding-top:20px'>
                <p style='color:#05304d;'><b>Su peticion fue recibida </b></p>
            </div>
            <br>
            <div style='display:flex;justify-content:center;align-items:center;'>
                <p style='color:#05304d;'>Revise su correo electronico</p>
            </div>
            <div style='display:flex;justify-content:center;align-items:center;'>
                <p style='color:#05304d;'>para continuar</p>
            </div>
            
            <!-- <div style='display:flex;justify-content:center;align-items:center;padding-top:20px'>
                <p style='color:#05304d;font-size:13px'>Para eliminar la cuenta, ingrese </p>
            </div>
            
            <div style='display:flex;justify-content:center;align-items:center;padding-top:5px'>
                <p style='color:#05304d;font-size:13px'>su correo electronico</p>
            </div> -->
            <!-- <div style='display:flex;justify-content:center;align-items:center;padding-top:5px'>
                <p style='color:red'>"Eliminar"</p>
            </div> -->

            <!-- <form action="Form1/Verify">
                <div style='display:flex;justify-content:center;align-items:center;padding-top:20px'>
                    <input id='inputEmail' type="email" placeholder='Email'>
                </div>
                <div style='display:flex;justify-content:center;align-items:center;padding-top:20px'>
                    <button type="submit" id='btn-confirmarForm1'>CONFIRMAR</button>
                </div>
            </form> -->


            <!-- <div style=''>
                <img src="./img/google-play.png" style='height:10%;width:10%;' alt="">
            </div> -->

        </div>
    </div>



    <script type='' src="/js/Form1.js"></script>

    
</body>
</html>